/*utilities*/
/*  
font-family: 'Quicksand', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Six Caps', sans-serif;
font-family: 'Loved by the King', cursive;
*/

*{
  box-sizing: border-box;
}

video { display: block; }
video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(../images/backgroundshot.png) no-repeat;
background-size: cover;
}

video#bgvid { -webkit-transition: 1s opacity; }
.stopfade { -webkit-opacity: .5; }

#vidpause{
  width:100%;
  text-align:right;
}

a{
  color:orange;
  text-decoration: none;
}

a:hover{
  color:orange;
  text-decoration: underline;
}

.main{
  font-size: 3.5em;
}

h1{
  color: black;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 3em;
}

h2{
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

p{
  text-align: center;
  font-family: 'Loved by the King', cursive;
  font-size: 1.5em;
  color:white;
}

.container{
  width:0;
  background-color: rgba(217, 214, 198, 0.6);
  border: solid black 3px;
  margin:15% auto;
  text-align: center;
  padding: 0;
  display:none;
}

.main, .main2 {
  display:none;
}

.container i {
  font-size: 2em;
}

.container i{
  display: none;
}

img{
  width:45%;
  margin:5% 25%;
}

/*media queries*/

@media screen and (max-device-width: 800px) {
html { background: url(../images/backgroundshot.jpg) #000 no-repeat center center fixed; }
#bgvid { display: none; }
}