/*utilities*/
/*  
font-family: 'Quicksand', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Six Caps', sans-serif;
font-family: 'Loved by the King', cursive;
*/

*{
  box-sizing: border-box;
  font-family: 'Didact Gothic', sans-serif;
}

img.bottomimage{
  position:fixed;
  top:-50;
  left:0;
  z-index:-200;
  display:none;
}

video { display: block; }
video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(../images/backgroundshot.png) no-repeat;
  background-size: cover;
}

video#bgvid { -webkit-transition: 1s opacity; }
.stopfade { -webkit-opacity: .5; }

#vidpause{
  width:100%;
  text-align:right;
  color: rgba(217, 214, 198, 1.0);
  margin-top:10px;
  padding-right: 10px;
}

#vidpause:hover{
  color:orange;
}

/*nav bar styling*/


#nav{
  width:100%;
  text-align: center;
  font-size: 2em;
  padding: 1%;
  text-decoration: bolder;
  background-color: rgba(217, 214, 198, 0.6);
  letter-spacing: 5px;
  top:0;
  position:fixed;
  z-index:1000;
  -webkit-transform: translateZ(0);
}

/*end of nav bar styling*/

#nav a {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  color:orange;
  text-decoration: none;
  font-family: 'Six Caps', sans-serif;
  margin-right:2%;
  margin-top: 6px;
  letter-spacing: 5px;
 }

 #nav a:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  margin-top: 6px;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  text-decoration: none;
 }
 
  #nav a:hover:after {
  width: 95%;
  background: orange;
  text-decoration: none;
 }

.active{
  color: rgba(79, 15, 34, 1.0) !important;
}

a{
  color:orange !important;
  text-decoration: none;
  font-family: 'Six Caps', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}

.main{
  font-size: 3.5em;
  letter-spacing: 5px;
  line-height: 1.4em;
  font-family: 'Muli', sans-serif !important;
}

h1{
  color: black;
  text-align: center;
  font-family: 'Six Caps', sans-serif !important;
  font-size: 3em;
  letter-spacing: 6px;
}

h2{
  text-align: center;
  font-family: 'Didact Gothic', sans-serif !important;
}

p{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9em;
  color: 5a5a5a;
  line-height: 1.5em;
}

p a{
  color:rgba(79, 15, 34, 1.0) !important;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

#nav{
  display:none;
}

#maincontent{
  height: 80%;
  width: 70%;
  margin: 5% auto;
  display:none;
}

.firstcontainer{
  width:0;
  background-color: rgba(217, 214, 198, 0.6);
  border: solid black 3px;
  margin:15% auto;
  text-align: center;
  padding: 0;
  display:none;
}

.main, .main2 {
  display:none;
}

#section1 i {
  font-size: 2em;
  display: none;
  cursor:pointer;
}

.introduction{
  border-bottom: solid 3px black;
  border-top: solid 3px black;
  background: rgba(217, 214, 198, 0.8);
  margin-top: 50px;
}

.right p{
  text-align: justify;
  margin:5% 0;
  display: inline-block;
  font-size: 1.5em;
  width:60%;
  border-left: solid black 3px;
  float:left;
  padding:3%;
}

.right i{
  cursor:pointer;
  margin:5% 50%;
  font-size: 1.5em;
}

.mypic{
  border-radius:50%;
  width: 25%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  border: solid 3px 4f0f22;
  margin:10% 5%;
  float:left;
}

.mypic:hover{
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

#about{
  margin:30% auto;
  background: rgba(79, 15, 34, 0.5);
  padding:5%;
  color:white;
  border-top:solid 3px rgba(79, 15, 34, 1.0);
  border-bottom:solid 3px rgba(79, 15, 34, 1.0);
  font-size:1.2em;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5em;
  font-family: 'Quicksand', sans-serif;
}

footer{
  position:fixed;
  bottom:0;
  width:100%;
  text-align: center;
  padding:1%;
  font-size: 1.5em;
  -webkit-transform: translateZ(0);
}


.fa-quote-left{
  color:orange;
  position:relative;
  margin-right: 10px;
  font-size: 40px !important;
}

.fa-quote-right{
  color:orange;
  position:relative;
  margin-left: 10px;
  text-align: right;
  font-size: 40px !important;
  bottom:-10px;
}

#tech{
  background:transparent;
  width:100%;
  padding:1%;
  width:145.5%;
  margin-left:-24%;
}

.bar{
  margin:0;
  height:70px;
  width:60%;
  background:rgba(255, 165, 0, 0.5);
  vertical-align: center;
  padding:1%;
  margin-left:20%;
  margin-top:1%;
}

.inner{
  line-height: 45px;
  height:45px;
  margin-bottom:4%;
  background-color:white;
  display:inline-block;
  font-size: 1.5em;
}

#html{ width:90%;}
#css{  width:85%;}
#ror{  width:65%;}
#javaScript{  width:60%;}
#jquery{  width:75%;}
#angularJs{  width:60%;}



#contact{
  background-color: rgba(79, 15, 34, 0.5);
  width:145.5%;
  margin-left:-24%;
}

#sendanemail{
  width:70%;
  margin:0 auto;
  background:transparent;
  text-align: center;
}

#sendanemail input{
  border:0;
  width:100%;
  margin:0;
  padding:0;
  padding-left:5px;
  margin-top:1%;
  height:35px;
  font-size: 1.3em;
  font-family: 'Quicksand', sans-serif;
  border-radius:5px;
  letter-spacing: 2px;
  display:none;
}

#sendanemail textarea{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3em;
  height: 200px;
  width:100%;
  margin-top:1%;
  border-radius:5px;
  letter-spacing: 2px;
  display:none;
}

#sendanemail i{
  font-size: 1.7em;
  color:orange;
  padding: 2% 0 2% 0;
}

#sendanemail{
  margin-bottom: 100px;
}

/*media queries*/

@media screen and (max-width: 768px) {
  /*html { background: url(../images/backgroundshot.jpg) #000 no-repeat center center fixed; }*/
  #bgvid { display: none; }
  body{background-color: white;}
  #intro.introduction, #maincontent { width:100%; padding:0;}
  #nav a{font-size: 1em; width: 20%; display: inline-block;}
  #nav {background: rgba(217, 214, 198, 1.0);}
}

@media screen and (max-width: 480px) {
  /*html { background: url(../images/backgroundshot.jpg) #000 no-repeat center center fixed; }*/
  #bgvid { display: none; }
  body{background-color: white;}
  #intro.introduction, #maincontent { width:100%; padding:0;}
  #nav {display: none;}
}

@media screen and (max-width: 320px) {
  /*html { background: url(../images/backgroundshot.jpg) #000 no-repeat center center fixed; }*/
  #bgvid { display: none; }
  body{background-color: white;}
  #intro.introduction, #maincontent { width:100%; padding:0;}
  #nav {display: none;}
}
